.orderDetail {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 6px;
  background-color: white;
  padding: 20px;
}

.orderDetail::-webkit-scrollbar {
  display: none;
}

.heading {
  text-align: center;
  padding-bottom: 20px;
}

.table {
  flex: 1;
}

.table td:nth-child(2) {
  text-align: left;
}

.information {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

.address,
.note {
  flex: 1;
  height: 150px;
  border-radius: 5px;
  resize: none;
  padding: 10px;
}

.action {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}
