.sidebar {
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  font-family: var(--primary-font);
  padding: 20px;
  box-shadow: 2px 8px 10px -3px silver;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  object-fit: cover;
}

.list {
  padding: 20px 0;
}

.item {
  padding: 10px 0;
}

.itemLink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.itemLink:hover,
.itemLink.active {
  color: var(--primary-color);
}
