.text {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: var(--gray-color);
  color: var(--secondary-text-color);
  font-family: var(--primary-font);
  padding: 17px;
}

.text::placeholder {
  color: var(--secondary-text-color);
}
