.payment {
  width: 60%;
  /* height: 400px; */
  background-color: white;
  border-radius: 5px;
  font-family: var(--primary-font);
  padding: 20px;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  padding-bottom: 20px;
}

.address {
  display: grid;
  grid-template-columns: 350px 1fr;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

.addressSelect {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.phoneNumber {
  flex: 1;
  border-radius: 20px;
}

.error,
.phoneNumber.error {
  position: relative;
}

.phoneNumber.error,
.error > .addressSelect,
.error > .addressDetail {
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
}

.phoneNumber.error::after {
  position: absolute;
  content: attr(data-error);
  top: -20px;
  color: var(--primary-color);
}

.error span {
  position: absolute;
  top: -18px;
  font-size: 15px;
  color: var(--primary-color);
  text-align: left;
}

.pseudo {
  flex: 1;
}

.addressDetail {
  width: 100%;
  height: 150px;
}

.areaWrapper {
  display: flex;
  gap: 20px;
}

.addressDetail,
.note {
  flex: 1;
  height: 150px;
  resize: none;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  margin: 10px 0;
}

.action {
  display: flex;
  justify-content: center;
  padding: 20px 0 0;
}

.total {
  text-align: right;
  padding: 20px 0;
}

.value {
  padding: 0 5px;
  color: var(--primary-color);
}
